#importing pandas for data cleaning and  os for navigation through the created folders

In [4]:
import pandas as pd
import os

#To show all the columns clearly

In [5]:
pd.set_option('display.max_columns', None)

#to check if all the libraries have been loaded successfully

In [6]:
print("Libraries Loaded!")

Libraries Loaded!

In [9]:
file_path =  '../data/raw/DATA/TABLES/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv'

#loading data

In [10]:
df = pd.read_csv('../data/raw/DATA/TABLES/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv')

#checking if our code above worked  by seeing a short descriptiion of our data

In [11]:
df.head()

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,263,KACHERI,KOTIDO,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900
1,264,KOTIDO,KOTIDO,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500
2,265,KOTIDO TOWN COUNCIL,KOTIDO,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268
3,266,NAKAPERIMORU,KOTIDO,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080
4,267,PANYANGARA,KOTIDO,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400

In [19]:
df['SUBCOUNTY_NAME'] = df['SUBCOUNTY_NAME'].str.title().str.strip()

In [20]:
df['DISTRICT_NAME'] = df['DISTRICT_NAME'].str.title().str.strip()

#standardizing the names for the district and subcounty to title case

In [21]:
df.columns = [c.replace(' ', '_') for c in df.columns]

In [22]:
df.columns

Index(['OBJECTID', 'SUBCOUNTY_NAME', 'DISTRICT_NAME', 'POP', 'Area',
       'Karamoja', 'S_Yield_Ha', 'M_Yield_Ha', 'Crop_Area_Ha', 'S_Area_Ha',
       'M_Area_Ha', 'S_Prod_Tot', 'M_Prod_Tot'],
      dtype='object')

In [23]:
df[['DISTRICT_NAME', 'SUBCOUNTY_NAME', 'S_Yield_Ha']].head()

  DISTRICT_NAME       SUBCOUNTY_NAME  S_Yield_Ha
0        Kotido              Kacheri  354.207411
1        Kotido               Kotido  367.890523
2        Kotido  Kotido Town Council  369.314177
3        Kotido         Nakaperimoru  283.324569
4        Kotido           Panyangara  373.836926

#standardizing the names for the columns to title case

In [24]:
df.columns = df.columns.str.strip().str.replace(' ', '_').str.title()

In [25]:
df.columns

Index(['Objectid', 'Subcounty_Name', 'District_Name', 'Pop', 'Area',
       'Karamoja', 'S_Yield_Ha', 'M_Yield_Ha', 'Crop_Area_Ha', 'S_Area_Ha',
       'M_Area_Ha', 'S_Prod_Tot', 'M_Prod_Tot'],
      dtype='object')

checking if our code above worked

In [26]:
df.head(3)

,Objectid,Subcounty_Name,District_Name,Pop,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,263,Kacheri,Kotido,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900
1,264,Kotido,Kotido,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500
2,265,Kotido Town Council,Kotido,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268

#making the column titles more readable

In [27]:
df = df.rename(columns={
    'Pop': 'Population',
    'S_Yield_Ha': 'Sorghum_Yield_Ha',
    'M_Yield_Ha': 'Maize_Yield_Ha',
    'S_Area_Ha': 'Sorghum_Area_Ha',
    'M_Area_Ha': 'Maize_Area_Ha'
})

In [28]:
df.head(3)

,Objectid,Subcounty_Name,District_Name,Population,Area,Karamoja,Sorghum_Yield_Ha,Maize_Yield_Ha,Crop_Area_Ha,Sorghum_Area_Ha,Maize_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,263,Kacheri,Kotido,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900
1,264,Kotido,Kotido,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500
2,265,Kotido Town Council,Kotido,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268

#finding the missing values and replacing them

In [33]:
missing_counts = df.isnull().sum()

In [34]:
cols_to_fill = ['Sorghum_Yield_Ha', 'Maize_Yield_Ha', 'Sorghum_Area_Ha', 'Maize_Area_Ha']
df[cols_to_fill] = df[cols_to_fill].fillna(0)

#checking for the different data types of the columns

In [35]:
print("--- Column Data Types ---")
print(df.dtypes)

--- Column Data Types ---
Objectid              int64
Subcounty_Name       object
District_Name        object
Population            int64
Area                  int64
Karamoja             object
Sorghum_Yield_Ha    float64
Maize_Yield_Ha      float64
Crop_Area_Ha        float64
Sorghum_Area_Ha     float64
Maize_Area_Ha       float64
S_Prod_Tot          float64
M_Prod_Tot          float64
dtype: object

In [36]:
import os
if not os.path.exists('../data/processed'):
    os.makedirs('../data/processed')

In [37]:
df.to_csv('../data/processed/Karamoja_Clean_Progress.csv', index=False)
print("Cleaned data saved safely in data/processed!")

Cleaned data saved safely in data/processed!