#importing pandas for data cleaning and  os for navigation through the created folders

In [3]:
import pandas as pd
import os

#To show all the columns clearly

In [4]:
pd.set_option('display.max_columns', None)

#to check if all the libraries have been loaded successfully

In [5]:
print("Libraries Loaded!")

Libraries Loaded!

defining the path of subcounty crop yield data

In [6]:
file_path =  '../data/raw/DATA/TABLES/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv'

#loading the subcounty crop yield  data

In [7]:
df = pd.read_csv('../data/raw/DATA/TABLES/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv')

#checking if our code above worked  by seeing a short descriptiion of our data

In [8]:
df.head()

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,263,KACHERI,KOTIDO,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900
1,264,KOTIDO,KOTIDO,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500
2,265,KOTIDO TOWN COUNCIL,KOTIDO,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268
3,266,NAKAPERIMORU,KOTIDO,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080
4,267,PANYANGARA,KOTIDO,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400

In [9]:
df['SUBCOUNTY_NAME'] = df['SUBCOUNTY_NAME'].str.title().str.strip()

In [10]:
df['DISTRICT_NAME'] = df['DISTRICT_NAME'].str.title().str.strip()

#standardizing the names for the district and subcounty to title case

In [11]:
df.columns = [c.replace(' ', '_') for c in df.columns]

In [12]:
df.columns

Index(['OBJECTID', 'SUBCOUNTY_NAME', 'DISTRICT_NAME', 'POP', 'Area',
       'Karamoja', 'S_Yield_Ha', 'M_Yield_Ha', 'Crop_Area_Ha', 'S_Area_Ha',
       'M_Area_Ha', 'S_Prod_Tot', 'M_Prod_Tot'],
      dtype='object')

In [13]:
df[['DISTRICT_NAME', 'SUBCOUNTY_NAME', 'S_Yield_Ha']].head()

  DISTRICT_NAME       SUBCOUNTY_NAME  S_Yield_Ha
0        Kotido              Kacheri  354.207411
1        Kotido               Kotido  367.890523
2        Kotido  Kotido Town Council  369.314177
3        Kotido         Nakaperimoru  283.324569
4        Kotido           Panyangara  373.836926

#standardizing the names for the columns to title case

In [14]:
df.columns = df.columns.str.strip().str.replace(' ', '_').str.title()

In [15]:
df.columns

Index(['Objectid', 'Subcounty_Name', 'District_Name', 'Pop', 'Area',
       'Karamoja', 'S_Yield_Ha', 'M_Yield_Ha', 'Crop_Area_Ha', 'S_Area_Ha',
       'M_Area_Ha', 'S_Prod_Tot', 'M_Prod_Tot'],
      dtype='object')

checking if our code above worked

In [16]:
df.head(3)

,Objectid,Subcounty_Name,District_Name,Pop,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,263,Kacheri,Kotido,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900
1,264,Kotido,Kotido,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500
2,265,Kotido Town Council,Kotido,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268

#making the column titles more readable

In [17]:
df = df.rename(columns={
    'Pop': 'Population',
    'S_Yield_Ha': 'Sorghum_Yield_Ha',
    'M_Yield_Ha': 'Maize_Yield_Ha',
    'S_Area_Ha': 'Sorghum_Area_Ha',
    'M_Area_Ha': 'Maize_Area_Ha',
    'S_Prod_Tot': 'Sorghum_Prod_Tot',
    'M_Prod_Tot': 'Maize_Prod_Tot'
})

#checking if the code above worked

In [18]:
df.head(3)

,Objectid,Subcounty_Name,District_Name,Population,Area,Karamoja,Sorghum_Yield_Ha,Maize_Yield_Ha,Crop_Area_Ha,Sorghum_Area_Ha,Maize_Area_Ha,Sorghum_Prod_Tot,Maize_Prod_Tot
0,263,Kacheri,Kotido,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900
1,264,Kotido,Kotido,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500
2,265,Kotido Town Council,Kotido,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268

#finding the missing values and replacing them

In [19]:
missing_counts = df.isnull().sum()

In [20]:
cols_to_fill = ['Sorghum_Yield_Ha', 'Maize_Yield_Ha', 'Sorghum_Area_Ha', 'Maize_Area_Ha']
df[cols_to_fill] = df[cols_to_fill].fillna(0)

#checking for the different data types of the columns

In [21]:
print("--- Column Data Types ---")
print(df.dtypes)

--- Column Data Types ---
Objectid              int64
Subcounty_Name       object
District_Name        object
Population            int64
Area                  int64
Karamoja             object
Sorghum_Yield_Ha    float64
Maize_Yield_Ha      float64
Crop_Area_Ha        float64
Sorghum_Area_Ha     float64
Maize_Area_Ha       float64
Sorghum_Prod_Tot    float64
Maize_Prod_Tot      float64
dtype: object

#checking the brief description of our data

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Objectid          52 non-null     int64
 1   Subcounty_Name    52 non-null     object
 2   District_Name     52 non-null     object
 3   Population        52 non-null     int64
 4   Area              52 non-null     int64
 5   Karamoja          52 non-null     object
 6   Sorghum_Yield_Ha  52 non-null     float64
 7   Maize_Yield_Ha    52 non-null     float64
 8   Crop_Area_Ha      52 non-null     float64
 9   Sorghum_Area_Ha   52 non-null     float64
 10  Maize_Area_Ha     52 non-null     float64
 11  Sorghum_Prod_Tot  52 non-null     float64
 12  Maize_Prod_Tot    52 non-null     float64
dtypes: float64(7), int64(3), object(3)
memory usage: 5.4+ KB

#defining the path for the second data (district crop yield)

In [23]:
district_path = '../data/raw/DATA/TABLES/Uganda_Karamoja_District_Crop_Yield_Population.csv'

#loading the district crop yield data and confirming the code

In [24]:
df_district = pd.read_csv('../data/raw/DATA/TABLES/Uganda_Karamoja_District_Crop_Yield_Population.csv')
print("District Data Loaded Successfully!")
df_district.head()

District Data Loaded Successfully!

,OBJECTID,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
1,96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
2,20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
3,85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
4,5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468

#cleaning the data,renaming the columns this will be used later to merge the data sets ready for analysis

In [25]:
df_district = df_district.rename(columns={
    'NAME': 'District_Name',          
    'POP': 'Population',
    'S_Yield_Ha': 'Sorghum_Yield_Ha',
    'M_Yield_Ha': 'Maize_Yield_Ha',
    'S_Area_Ha': 'Sorghum_Area_Ha',
    'M_Area_Ha': 'Maize_Area_Ha',
    'S_Prod_Tot': 'Sorghum_Prod_Tot',
    'M_Prod_Tot': 'Maize_Prod_Tot',
    'Crop_Area_Ha': 'Total_Crop_Area_Ha'
})

In [26]:
df_district.head()

,OBJECTID,District_Name,Population,Area,Sorghum_Yield_Ha,Maize_Yield_Ha,Total_Crop_Area_Ha,Sorghum_Area_Ha,Maize_Area_Ha,Sorghum_Prod_Tot,Maize_Prod_Tot
0,92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
1,96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
2,20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
3,85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
4,5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468

#making the column titles to have title case

In [29]:
df_district.columns = df_district.columns.str.strip().str.replace(' ', '_').str.title()
df_district.head()

,Objectid,District_Name,Population,Area,Sorghum_Yield_Ha,Maize_Yield_Ha,Total_Crop_Area_Ha,Sorghum_Area_Ha,Maize_Area_Ha,Sorghum_Prod_Tot,Maize_Prod_Tot
0,92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
1,96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
2,20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
3,85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
4,5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468

#checking brief description of our data with the column data types

In [30]:
df_district.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Objectid            7 non-null      int64
 1   District_Name       7 non-null      object
 2   Population          7 non-null      int64
 3   Area                7 non-null      int64
 4   Sorghum_Yield_Ha    7 non-null      int64
 5   Maize_Yield_Ha      7 non-null      int64
 6   Total_Crop_Area_Ha  7 non-null      float64
 7   Sorghum_Area_Ha     7 non-null      float64
 8   Maize_Area_Ha       7 non-null      float64
 9   Sorghum_Prod_Tot    7 non-null      int64
 10  Maize_Prod_Tot      7 non-null      int64
dtypes: float64(3), int64(7), object(1)
memory usage: 744.0+ bytes

merging the two data sets

In [31]:
df_merged = pd.merge(df, df_district, on='District_Name', how='left', suffixes=('', '_District'))

In [32]:
print(f"Merged Data Shape: {df_merged.shape}")
df_merged.head()

Merged Data Shape: (52, 23)

,Objectid,Subcounty_Name,District_Name,Population,Area,Karamoja,Sorghum_Yield_Ha,Maize_Yield_Ha,Crop_Area_Ha,Sorghum_Area_Ha,Maize_Area_Ha,Sorghum_Prod_Tot,Maize_Prod_Tot,Objectid_District,Population_District,Area_District,Sorghum_Yield_Ha_District,Maize_Yield_Ha_District,Total_Crop_Area_Ha,Sorghum_Area_Ha_District,Maize_Area_Ha_District,Sorghum_Prod_Tot_District,Maize_Prod_Tot_District
0,263,Kacheri,Kotido,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,264,Kotido,Kotido,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,265,Kotido Town Council,Kotido,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,266,Nakaperimoru,Kotido,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,267,Panyangara,Kotido,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#calculating the total food production (maize & sorgum) in tonnes

In [33]:
df_merged['Total_Food_Tonnes'] = (df_merged['Sorghum_Prod_Tot'] + df_merged['Maize_Prod_Tot']) / 1000

#calculating total food per person in kgs

In [34]:
df_merged['Food_Per_Person_Kg'] = (df_merged['Sorghum_Prod_Tot'] + df_merged['Maize_Prod_Tot']) / df_merged['Population']

calculating the dominant food

In [35]:
df_merged['Primary_Crop'] = df_merged.apply(
    lambda x: 'Sorghum' if x['Sorghum_Prod_Tot'] >= x['Maize_Prod_Tot'] else 'Maize',
    axis=1
)

#Show specific columns to verify

In [36]:
print("Success! Columns renamed and metrics calculated.")
cols_to_show = ['District_Name', 'Subcounty_Name', 'Population', 'Food_Per_Person_Kg', 'Primary_Crop']
df_merged[cols_to_show].head()

Success! Columns renamed and metrics calculated.

,District_Name,Subcounty_Name,Population,Food_Per_Person_Kg,Primary_Crop
0,Kotido,Kacheri,17244,167.003924,Sorghum
1,Kotido,Kotido,52771,105.010249,Sorghum
2,Kotido,Kotido Town Council,27389,20.864872,Sorghum
3,Kotido,Nakaperimoru,38775,50.410512,Sorghum
4,Kotido,Panyangara,65704,60.902666,Sorghum

In [37]:
df_merged['District_Name'] = df_merged['District_Name'].str.upper()

In [38]:
df_merged.head()

,Objectid,Subcounty_Name,District_Name,Population,Area,Karamoja,Sorghum_Yield_Ha,Maize_Yield_Ha,Crop_Area_Ha,Sorghum_Area_Ha,Maize_Area_Ha,Sorghum_Prod_Tot,Maize_Prod_Tot,Objectid_District,Population_District,Area_District,Sorghum_Yield_Ha_District,Maize_Yield_Ha_District,Total_Crop_Area_Ha,Sorghum_Area_Ha_District,Maize_Area_Ha_District,Sorghum_Prod_Tot_District,Maize_Prod_Tot_District,Total_Food_Tonnes,Food_Per_Person_Kg,Primary_Crop
0,263,Kacheri,KOTIDO,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2879.815672,167.003924,Sorghum
1,264,Kotido,KOTIDO,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5541.495875,105.010249,Sorghum
2,265,Kotido Town Council,KOTIDO,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,571.467976,20.864872,Sorghum
3,266,Nakaperimoru,KOTIDO,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1954.667587,50.410512,Sorghum
4,267,Panyangara,KOTIDO,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4001.548735,60.902666,Sorghum

In [39]:
output_folder = '../data/processed'

In [40]:
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [41]:
output_path = os.path.join(output_folder, 'Karamoja_Final_Master.csv')
df_merged.to_csv(output_path, index=False)

print(f"DONE!  final file  ready : {output_path}")

DONE!  final file  ready : ../data/processed\Karamoja_Final_Master.csv